:host{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}
mat-sidenav{
    background-color: #383838;
    color: #fff;
}
mat-sidenav-container{
flex-grow: 2;
background-color: #434242;
color: #fff;
}